@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*  */

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: #EFE6E4;
  color: rgba(83, 55, 56, 1);
}

a {
  text-decoration: none;
  color:#533738;
}

.main-menu ul li {
  display: inline-block;
  text-align: baseline;
  text-transform: none;
}

.first-screen {
  background-image: url(../img/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash\ 1.jpg);

}

/* Заголовок1 */
h1 {
font-weight: 400;
font-size: 50px;
line-height: 62px;
/* or 124% */
text-transform: uppercase;
}

.button.promo-button {
background-color: #CC8B86;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  }

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  white-space: pre;
  }

ul {
font-weight: 500;
font-size: 30px;
line-height: 37px;
/* identical to box height */
text-transform: uppercase;
/*color: #FFFFFF;*/
}

h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  /* color: #FFFFFF; */
}

.white {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  /*color: #FFFFFF; */
}

ul li {
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */
color: #533738;
}

ol li {
font-weight: 400;
font-size: 18px;
line-height: 30px;
white-space: pre;
}

blockquote {
font-weight: 400;
font-size: 18px;
line-height: 30px;
  white-space: pre;
}

.request {
  color: #FFFFFF
}

.text-request {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: #FFFFFF;
  opacity: 0.6;
}

button {
  background-color: #CC8B86;
}

.site-footer {
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */
color: #533738;
}

.last {
  float: right;
}
