/*
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto-Regular"),
    url("roboto.woff") format("woff");
}
*/







@font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat Regular");
      /*url("roboto.woff") format("woff");*/
  }

  <style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
  </style>



.main-page {
    position: absolute;
    width: 1400;
    height: 715;
    left: 1400;
    top: 0px;  
    background-image: /*url("img/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash 1.jpg")*/;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

Кнопка в первом блоке - фон rgba(83, 55, 56, 1)

.about-us {

}

.finished-work {

}

.team {


}

.stages-of-work {



}

.reviews {

}

.request {


}

.site-footer {

}

.main-page {
    font-family: ;
    font-weight
    font-style
    font-size
    line-height
    color

}



.field[type="text"] {
    background-image: url("images/cat.jpg");
}



    /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  /* Блочная модель */
  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  /* Типографика */
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #333333;

  /* Оформление */
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  /* Анимация */
  transition: color 1s;

  /* Разное */
  will-change: auto;
